DATABASE_URL = your_db_password

NEXT_PUBLIC_BASE_URL = "http://localhost:3000"


# Better Auth
BETTER_AUTH_SECRET="dev-only-secret-change-in-prod-0123456789abcdef"
BETTER_AUTH_URL="http://localhost:3000"